html,
body {
  height: 100%;
}

.body__login {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;

}

body{
  background-color: #f5f5f5;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.login_form a{
    display: block!important;
    margin: 0 auto;
}
.auth_password{
  margin-bottom: 0!important;
}

.flash{
  padding: 10px;
}

.flash.success{
  border: 1px solid #21bd56;
  background-color: #AEFFC5;
}

.flash.error{
  border: 1px solid #FF4343;
  background-color: #FF9C9C;
}